Reviewing Movie: <%= @movie.title %>


<% flash.each do |key, value| %>
  <p>
    <div class="alert alert-<%= key %>"><%= value %></div>
  </p>
<% end %>


<%= form_with model: [ @movie, @movie.reviews.build ], local: true do |form| %>

  <p>
    <%= form.label :email %>*<br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :date %>*<br>
    <%= form.date_select :date %>
  </p>

  <p>
    <%= form.label :rating %>*<br>
    <%= form.select :rating, ['1', '2', '3', '4', '5'] %>
  </p>

  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :comment %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
