<h1>Reviewing Movie</h1>

<%= image_full_path_big(@movie.image) %>

<br>
<br>

<div id="title">
  <%= @movie.title %>
</div>

<span id="release_date_label">Release Date:</span>
<%= @movie.release_date.strftime("%b %d, %Y") %>
<br>
<span id="genre_label">Genre:</span>

<%= render partial: "genre", locals: {movie: @movie} %>


<% if flash[:success] %>
  <p>
    <div class="alert-success">
      Thanks for creating a review!
      Please create another one, or
      <%= link_to 'Go Back', welcome_index_path %>
    </div>
  </p>
<% end %>

<% if flash[:error] %>
  <p>
    <div class="alert-error">
      Please correct the following 
      <%= pluralize(flash[:error].count, "error") %>:
      <%= flash[:error].join(", ").html_safe %>
    </div>
  </p>
<% end %>


<%= form_with model: [ @movie, @movie.reviews.build ], local: true do |form| %>

  <p>
    <%= form.label :email %>*<br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :date %>*<br>
    <%= form.date_select :date %>
  </p>

  <p>
    <%= form.label :rating %>*<br>
    <%= form.hidden_field :rating, id: 'rating' %>
    <span id="stars">
      <span id="star1">&star;</span>
      <span id="star2">&star;</span>
      <span id="star3">&star;</span>
      <span id="star4">&star;</span>
      <span id="star5">&star;</span>
    </div>
  </p>

  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :comment %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>


<br>
<%= link_to 'Go Back', welcome_index_path %>
