<% if @movies %>
  <% @movies.each do |movie| %>

    <div id="movie_image">
      <%= image_full_path(movie.image) %>
    </div>

    <div id="movie_rest">
      <%= movie.title %>
      <br>
      Release Date: <%= movie.release_date %>
      <br>
      Genre: <%= movie.genre %>
      <br>

      <% movie.reviews.each do |review| %>

        Rating:
	  <% empty_stars = 5 - review.rating %>
	  <% review.rating.to_i.times do  %>
	    &starf;
	  <% end %>
	  <% empty_stars.times do  %>
	    &star;
	  <% end %>

        "<%= review.comment %>" -
        <%= review.email %>
        <br>
      <% end %>

      <%= link_to 'Leave a Review', movie_path(movie) %>
    </div>

    <div class="clear"></div>

  <% end %>
<% end %>
