<% if @movies %>
  <% @movies.each do |movie| %>

    <div id="movie_image">
      <%= image_full_path(movie.image) %>
    </div>

    <div id="movie_rest">
      Title: <%= movie.title %>
      <br>
      Genre: <%= movie.genre %>
      <br>
      Release Date: <%= movie.release_date %>
      <br>
      Reviews:
        <br>
        <% movie.reviews.each do |review| %>
          Rating: <%= review.rating %>
          Comment: <%= review.comment %>
          Email: <%= review.email %>
          <br>
        <% end %>
      <%= link_to 'Leave a Review', movie_path(movie) %>
    </div>

    <div class="clear"></div>

  <% end %>
<% end %>
