<% if @movies %>
  <% @movies.each do |movie| %>

    <div id="movie">
      <div id="movie_image">
	<%= image_full_path(movie.image) %>
	<br>
	<%= render partial: "stars", locals: {rating: movie.average_rating} %>
	<br>
	<br>
      </div>

      <div id="movie_rest">
	<%= movie.title %>
	<br>
	Release Date: <%= movie.release_date.strftime("%b %d, %Y") %>
	<br>
	Genre: <%= movie.genre %>
	<br>

	<% movie.reviews.each do |review| %>
	  <%= render partial: "stars", locals: {rating: review.rating} %>
          <%= render partial: "comment_and_email", locals: {review: review} %>
          <br>
        <% end %>

        <%= link_to 'Leave a Review', movie_path(movie) %>
      </div>
    </div>

    <div class="clear"></div>

  <% end %>
<% end %>
