<h1>Welcome#index</h1>

<%= link_to 'My Blog', controller: 'articles' %>


<%= form_with model: @article, local: true do |form| %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>


<% if @results %>
  <% @results['results'].each do |result| %>
    <p>
      <img src='http://image.tmdb.org/t/p/w92<%= result['poster_path'] %>'>
      <br>
      Title: <%= result['title'] %>
      <br>
      Genre Ids: <%= result['genre_ids'] %>
      <br>
      Release Date: <%= result['release_date'] %>
      <br>
      <%= link_to 'Leave a Review', new_article_path %>
    </p>
  <% end %>

<% end %>

<br>
<br>
<br>


<%= @results %>

