<h1>Welcome#index</h1>


<%= form_with model: @review, local: true do |form| %>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>


<% if @movies %>
  <% @movies.each do |movie| %>
    <p>
      <%= image_full_path(movie.image) %>
      <br>
      Title: <%= movie.title %>
      <br>
      External Id: <%= movie.external_id %>
      <br>
      Genre Ids: <%= movie.genre %>
      <br>
      Release Date: <%= movie.release_date %>
      <br>
      Reviews: 
        <br>
        <% movie.reviews.each do |review| %>
	  Rating: <%= review.rating %>
	  Comment: <%= review.comment %>
	  Email: <%= review.email %>
	  <br>
	<% end %>
      <%= link_to 'Leave a Review', movie_path(movie) %>
    </p>
  <% end %>

<% end %>


Recent Reviews:







