<h1>Review your favorite movies</h1>


<%= form_with model: @movie, remote: true do |form| %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.submit "Sort By Title", name: "submit", value: "Sort By Title" %>
  </p>

  <p>
    <%= form.submit "Sort By Release Date", name: "submit", value: "Sort By Release Date" %>
  </p>

  <p>
    <%= form.submit "Sort By Genre", name: "submit", value: "Sort By Genre" %>
  </p>

<% end %>


<div id="man">
</div>


<%= link_to 'View all Reviews', reviews_path %>








