<h1>Review movies</h1>


<%= form_with model: @movie, remote: true do |form| %>

  <p>
    <%= form.label :title, 'Search by Title' %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    Sort By:
    <%= form.submit "Title", name: "sort_by", value: "Title" %>
    <%= form.submit "Release Date", name: "sort_by", value: "Release Date" %>
    <%= form.submit "Genre", name: "sort_by", value: "Genre" %>
  </p>

<% end %>


<div id="container">
  <div id="left">
    <div id="movie_results">
    </div>
  </div>
  <div id="right">
    <%= link_to 'View all Reviews', reviews_path %>
  </div>
  <div class="clear"></div>
</div>
