<h1>Listing reviews</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Date</th>
    <th>Rating</th>
    <th>Movie</th>
    <th>Comment</th>
  </tr>
 
  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.email %></td>
      <td><%= review.date %></td>
      <td><%= review.rating %></td>
      <td><%= review.movie.title %></td>
      <td><%= review.comment %></td>
    </tr>
  <% end %>
</table>
