<h1>All Reviews</h1>

<table cellpadding="5" cellspacing="5">
  <% @reviews.each do |review| %>
    <tr>
      <td>
	<%= render partial: "stars", locals: {rating: review.rating} %>
      </td>
      <td>
	"<%= review.comment %>" - <%= review.email %>
      </td>
      <td>
	<span id="movie_title">
	  <%= review.movie.title %>
	</span>
      </td>
      <td>
	<span id="date">
	  <%= review.date.strftime("%b %d, %Y") %>
	</span>
      </td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to 'Go Back', welcome_index_path %>
</p>
