
<h1>New review</h1>
 

<%= form_with model: @review, local: true do |form| %>

  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@review.errors.count, "error") %> prohibited
        this review from being saved:
      </h2>
      <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :date %><br>
    <%= form.text_field :date %>
  </p>

  <p>
    <%= form.label :rating %><br>
    <%= form.text_field :rating %>
  </p>

  <p>
    <%= form.label :movie_id %><br>
    <%= form.text_field :movid_id %>
  </p>

  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :comment %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

 
<%= link_to 'Back', reviews_path %>
