
<p>
  <strong>Email:</strong>
  <%= @review.email %>
</p>
 
<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>
 
<p>
  <strong>Review Date:</strong>
  <%= @review.review_date %>
</p>
 
<p>
  <strong>Movie Id:</strong>
  <%= @review.movie_id %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>
 
<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
